* {
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.1);

}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
}
